<mat-card>
	<mat-card-header *ngIf="addressEntry.name as name">
		<img mat-card-avatar *ngIf="addressEntry.picture.thumbnail as thumbnail" [src]="thumbnail"/>
		<ng-container *ngIf="name.first || name.last; else noNameTemplate">
			<mat-card-title>{{name.first}} {{name.last}}</mat-card-title>
		</ng-container>
		<ng-template #noNameTemplate>
			<mat-card-title>No name on file</mat-card-title>
		</ng-template>
		<mat-card-subtitle>Address</mat-card-subtitle>
	</mat-card-header>
	<mat-card-content *ngIf="addressEntry.location as location">
		<ng-container *ngIf="location.street && location.city && location.state && location.postcode; else noLocationTemplate">
			<p>{{location.street}}</p>
			<p>{{location.city}}, {{location.state}} {{location.postcode}}</p>
		</ng-container>
		<ng-template #noLocationTemplate>
			<p>No location on file</p>
		</ng-template>
	</mat-card-content>
	<mat-card-actions>
	  <button mat-raised-button color="primary" [routerLink]="['/details', addressEntry.id]">View Details</button>
	</mat-card-actions>	
</mat-card>