<mat-card>
	<mat-card-header *ngIf="addressEntry.name as name">
		<img mat-card-avatar *ngIf="addressEntry.picture.thumbnail as thumbnail" [src]="thumbnail"/>
		<mat-card-title>{{name.first}} {{name.last}}</mat-card-title>
		<mat-card-subtitle>Address</mat-card-subtitle>
	</mat-card-header>
	<mat-card-content *ngIf="addressEntry.location as location">
		<p>{{location.street}}</p>
		<p>{{location.city}}, {{location.state}} {{location.postcode}}</p>
	</mat-card-content>
	<mat-card-actions>
	  <button mat-raised-button color="primary" routerLink="/details?id={{addressEntry.id}}">View Details</button>
	</mat-card-actions>	
</mat-card>